.contenedor{
width: 100%;
height: 1200px;
background-color: aqua;

}
.encabezado{
    width: 100%;
    height: 200px;
    background-color: rgb(233, 14, 182);
    font-size: 40PX;
    text-align: center;
}